body {
    background-color: #0F6DBF;
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;

}
h1, h2{
    text-align: center;
    width: 100%;

}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 40px;
    margin: 0;
}
h2 {
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 0
}
h3 {
    margin-top: 0;
}


.container{
    background-color: #282B59;
    width: 90%;
    margin: 40px auto;
    height: 95%;
}
header {
    display: flex;
    justify-content: center;
}

header img {
    width: 50%;
}

.player-title {
    margin-bottom: 40px;
}

.player_selection_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.shapes_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

}

.shape_container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #14D945;
    border-radius: 12px;
    height: fit-content;
    aspect-ratio: 1;
}

.shape_container img {
    width:100%;
    border-radius: 10px;
}
.shape_container span, .shape_container i {
    font-size: 5rem;
}
.shape_container:hover{
    border: 6px solid #14D945;
}
.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.go_button {
    padding: 12px 24px;
    border: 2px solid #14D945;
    background-color: transparent;
    border-radius: 12px;
    color: #14D945;
    font-size: 20px;
    font-weight: bold;
}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 10px;
    gap: 20px;
}
.round_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;


}
.play_round_container {
    display: flex;
    justify-content:  center;
    margin: 0 auto;
    width: 100%;
    
}
.play_round_container h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.object_image_container{
    width: 100%;
    /* height: 25% */

}
.paper_gif, .scissors_gif, .rock-gif {
    width: 100%;
}
.scissor_gif{
    border : none !important;
    width: 100%;
    height: 100%;
}
.rock-gif {
    width: 100%;
    height: fit-content;
    border : none !important;
}


.winner_container {
    width: 100%;
    text-align: center;
    margin: 0;
}

.winner_text {
    font-size: 1.2rem;
    margin:  0;
    line-height: 1.8;
}
.winner_text span {
    color: #14D945;
}

.score_section {
    width: 60%;
    border: 2px solid #14D945;
    margin: auto;
    padding-bottom: 40px;
    padding: 20px;
    border-radius: 12px;
    

}
.score {
    font-size: 1.5rem;
    color: #14D945;
}
footer {
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
}
footer p {
    font-size: .75rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.hide {
    display: none;
}
.show {
    display: flex;
}
@media only screen and (min-width: 650px) {
    .container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    .shape_container span, .shape_container i {
        font-size: 6rem;
    }
    .shapes_container {
        width: 80%;
    }
    .round_container {
        width: 60%;
        justify-content: space-around;
    }
    .play_round_container h3 {
        width: 100%;
        display: flex;
        align-items: flex-start;
    
    }
    .play_round_container {
        width: 30%;
    }
    .object_image_container{
        width: 100%;
        /* height: 25% */

    }
    .rock-gif {
        width: 125%;
    }
}