body {
    background-color: #0F6DBF;
    color: white;
    font-family: 'Open Sans', sans-serif;

}
h1, h2{
    text-align: center;
    width: 100%;

}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 40px;
}
h2 {
    margin-top: 0;
}


.container{
    background-color: #282B59;
    margin: 40px 40px 20px;
    padding-bottom: 40px;

}
header {
    display: flex;
    justify-content: center;
}
header img {
    width: 50%;
}
.player_selection_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.shapes_container{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

}

.shape_container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #14D945;
    border-radius: 12px;
}

.shape_container img {
    width:100%;
    border-radius: 10px;
}
.shape_container span, .shape_container i {
    font-size: 6rem;
}
.shape_container:hover{
    border: 6px solid #14D945;
}
.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.go_button {
    padding: 12px 24px;
    border: 2px solid #14D945;
    background-color: transparent;
    border-radius: 12px;
    color: #14D945;
    font-size: 20px;
    font-weight: bold;
}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 10px;
    gap: 20px;
}
.round_container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: auto;


}
.play_round_container h3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.object_image_container{
    width: 100px;
    height: 100px;

}
.paper_gif, .scissors_gif, .rock-gif {
    width: 100%;
}
.scissor_gif{
    border : none !important;
    width: 100%;
    height: 100%;
}
.rock-gif {
    width: 125%;
    height: fit-content;
    border : none !important;
}

.winner_container {
    width: 100%;
    text-align: center;


}
.winner_text {
    font-size: 1.2rem;
    margin: 15px 0;
    line-height: 1.8;
}
.winner_text span {
    color: #14D945;
}

.score_section {
    width: 60%;
    border: 2px solid #14D945;
    margin: auto;
    padding-bottom: 40px;
    padding: 20px;
    border-radius: 12px;
    

}
.score {
    font-size: 1.5rem;
    color: #14D945;
}

footer p {
    font-size: .75rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.hide {
    display: none;
}
.show {
    display: flex;
}